body {
    font-family: "Roboto", sans-serif;
    background-color: var(--darkbd-fontcolor);
    color: var(--mainfontcolor);
    margin: 0 auto;
    max-width: 1600px;
    font-size: 16px;
  }
  a {
    text-decoration: none;
  }
  .container {
    margin: 0 auto;
    width: 1200px;
  }
  .section {
    padding-block: 93px;
  }